<script>
    var show = true;
    function showCompleteCode() {
        if (show == true) {
            show= false;
            $("#arrow_code_conduct").css("transform", "rotate(180deg)");
        }
        else {
            show= true;
            $("#arrow_code_conduct").css("transform", "rotate(0deg)");
        }
        $("#code_of_conduct").toggle();
            
    }
</script>
<section id="code_conduct" class="code_conduct">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Código de conducta</h2>
                    <hr class="small">
                   </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Queremos que todo el mundo se sienta a gusto en este evento, por ello requerimos que todas las ponentes así como los asistentes y los patrocinadores estén de acuerdo con nuestro código de conducta.</p>
                </div>

            </div>
            <!--
			<div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-dark btn-primary btn-lg" onclick="showCompleteCode();"><strong>Lee el código completo aquí</strong></a>
                </div>
			</div>
            -->

            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="" onclick="showCompleteCode();" title="Lee el código completo aquí">
                        <svg id="arrow_code_conduct" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                            <g>
                                <path d="M545.5,681.5L975.2,369c9.3-6.8,14.8-17.6,14.8-29.1l0,0c0-29.4-33.4-46.5-57.2-29.1L522.5,609.1c-13.4,9.7-31.5,9.7-44.9,0L67.2,310.7C43.4,293.4,10,310.4,10,339.8l0,0c0,11.5,5.5,22.4,14.8,29.1l429.7,312.5C481.6,701.2,518.4,701.2,545.5,681.5z"/>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
           
			
			<!-- Esta parte la ocultamos, y solo la mostramos cuando le den al boton -->
            <div id="code_of_conduct" style="display:none;">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="lead"><span class="wtm-highlight-no-bold">Código completo de conducta del evento</span></p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">
    					<p class="lead">Este código de conducta resume nuestras expectativas para el comportamiento de los participantes, así como las consecuencias para el comportamiento inaceptable. Los organizadores harán cumplir este código a lo largo del evento. Pedimos la colaboración a todos los asistentes, patrocinadores, ponentes, voluntarios y otros participantes para ayudar a tener una experiencia segura y agradable para todos.</p>
                    </div>

                </div>

    			<div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="lead"><span class="wtm-highlight-no-bold">La versión rápida</span></p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">
    					<p class="lead">Nuestra conferencia se dedica a ofrecer una experiencia libre de abusos para todos, independientemente de su género, orientación sexual, discapacidad, apariencia física, talla, raza o religión. No toleramos abusos de los participantes de la conferencia en ninguna de sus formas. El lenguaje e imágenes sexuales no son apropiados para ninguna sala de la conferencia, incluyendo charlas, talleres, fiestas, Twitter y otros medios online. Los participantes de la conferencia que violen estas reglas pueden ser sancionados o expulsados de la misma <strong style="font-style: italic;">sin reembolso</strong> a discreción de los organizadores.</p>
                    </div>

                </div>
    			
    			<div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="lead"><span class="wtm-highlight-no-bold">La versión menos corta</span></p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">
    					<p class="lead">Los abusos incluyen: comentarios ofensivos relativos a género, orientación sexual, discapacidad, apariencia física, talla, raza, religión, imágenes sexuales en espacios públicos, intimidación deliberada, acoso, persecución, fotografía o grabación de abusos, interrupciones continuadas de charlas u otros eventos, contacto físico inapropiado y atención sexual no deseada.</p>

    					<p class="lead">Se espera que los participantes instados a parar cualquier comportamiento abusivo obedezcan inmediatamente.</p>

    					<p class="lead">Los patrocinadores también están sujetos a la política contra abusos. En particular, los patrocinadores no deberían utilizar imágenes, actividades u otro material con contenido sexual. El personal de los puestos (voluntarios incluidos) no debería usar ropa/uniformes/disfraces sexualizados, o que de otra manera crean un ambiente sexualizado.</p>

    					<p class="lead">Si un participante incurre en un comportamiento abusivo, los organizadores de la conferencia pueden tomar cualquier acción que estimen oportuna, incluyendo advertencias al ofensor o su expulsión de la conferencia sin reembolso.</p>

    					<p class="lead">Si estás sufriendo algún abuso, adviertes abusos sobre otra persona, o tienes alguna otra preocupación, por favor contacta con algún miembro del personal de la conferencia inmediatamente. El personal de la conferencia puede ser fácilmente identificado, ya que vestirán camisetas del evento.</p>

    					<p class="lead">El personal de la conferencia estará contento de ayudar a los participates a contactar con la seguridad del hotel/sala o con las autoridades locales, proveer escolta o asistir de otra manera a aquellos que estén sufriendo abusos para que se sientan seguros mientras dure la conferencia. Valoramos tu asistencia.</p>

    					<p class="lead">Esperamos que los participantes sigan estas reglas en la la conferencia, talleres y eventos sociales relacionados con la conferencia.</p>
                    </div>

                </div>
    			
    			<div class="row">
                    <div class="col-lg-12 sources-code-conduct">
    					<p class="lead">Fuente original y créditos: <a href="http://2012.jsconf.us/#/about" target="_blank">http://2012.jsconf.us/#/about</a> & <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy" target="_blank">The Ada Initiative</a></p>

    					<p class="lead">Por favor, ayuda traduciendo o mejorando: <a href="http://github.com/leftlogic/confcodeofconduct.com" target="_blank">http://github.com/leftlogic/confcodeofconduct.com</a></p>

    					<p class="lead">Este trabajo está licenciado bajo <a href="https://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank">Creative Commons Atribución 3.0 Unported License</a></p>
                    </div>

                </div>
            </div>
			<!-- Esta parte la ocultamos, y solo la mostramos cuando le den al boton -->
        </div>
        <!-- /.container -->
    </div>
</section>