<section id="goals">
<div class="container">

        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestros objetivos</h2>
                    <hr class="small">
                   </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Fomentar las relaciones entre mujeres del ámbito de la tecnología. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Visibilizar y dar voz a las profesionales de la tecnología y compartir experiencias. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Formar a niñas y niños en temas tecnológicos mediante talleres. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Promover referentes para las más jóvenes, que vean que están capacitadas de sobra para trabajar en el sector tecnológico. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Hacer un evento en el que nos sintamos cómodas y que sea seguro. </p>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
</section>
