<section id="goals" class="goals">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestros objetivos</h2>
                    <hr class="small">
                   </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Fomentar las <span class="wtm-highlight">relaciones</span> entre mujeres del ámbito de la tecnología. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead"><span class="wtm-highlight">Visibilizar y dar voz</span> a las profesionales de la tecnología y compartir experiencias. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Formar a niñas y niños en <span class="wtm-highlight">temas tecnológicos</span> mediante talleres. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Promover referentes para las más jóvenes, que vean que están <span class="wtm-highlight">capacitadas</span> de sobra para trabajar en el sector tecnológico. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Hacer un evento en el que nos sintamos <span class="wtm-highlight">cómodas</span> y que sea seguro. </p>
                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
</section>
