<section id="introduction" class="introduction bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <!--
        <h2>Ponencias sobre tecnología<br/><br/>
Talleres para niñas/os sobre tecnología<br/><br/>
Networking<br/><br/>
120 asistentes</h2>
-->
        <p class="lead">Ponencias sobre <span class="wtm-highlight">tecnología</span><br/><br/><span class="wtm-highlight">Talleres</span> para niñas/os sobre tecnología<br/><br/><span class="wtm-highlight">Networking</span><br/><br/><span class="wtm-highlight">250</span> asistentes</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
