<section id="introduction" class="introduction bg-etopia">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>¿Cúando y dónde?</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="introduction-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cloud fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>11 de noviembre de 2017</strong>
              </h4>
              <!--
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
              -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="introduction-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-compass fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>ETOPIA<br/>Centro de Arte y Tecnología</strong>
              </h4>
             
              <p>Av. de la Ciudad de Soria, 8 (50003) Zaragoza</p>
              <!-- 
              <a href="#" class="btn btn-light">Learn More</a>
              -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="introduction-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-flask fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Entradas el 6 de Septiembre</strong>
              </h4>
              <!--
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
              -->
            </div>
          </div>
          
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<section id="introduction" class="introduction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <!--
        <h2>Ponencias sobre tecnología<br/><br/>
Talleres para niñas/os sobre tecnología<br/><br/>
Networking<br/><br/>
120 asistentes</h2>
-->
        <p class="lead">Ponencias sobre tecnología<br/><br/>Talleres para niñas/os sobre tecnología<br/><br/>Networking<br/><br/>120 asistentes</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
