<section id="join-sponsors" class="sponsors">
  <div class="container">

        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¡Patrocina WTM Zaragoza 2017!</h2>
                    <hr class="small">
                   </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">¡Queremos promover referentes femeninos en la tecnología impulsando a más mujeres de nuestro entorno para que en el futuro no sean consideradas una rareza!</p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Nada de esto sería posible sin la colaboración de patrocinadores: gracias a ellos y ellas podemos ofrecer un evento de más calidad y llegar a un público mayor.. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead"><strong>¿Te animas a patrocinar?<br/>Te ofrecemos la oportunidad de dar a conocer tu empresa, tus proyectos y tu compromiso con la diversidad en la tecnología siendo patrocinador de nuestro evento.</strong> </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Además, aparecerás en nuestra web, en las pantallas del auditorio y podrás llegar a los asistentes con material en el pack de bienvenida.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">¡Ponte en contacto con nosotros en womentechmakerszgz@gmail.com ! <br/>Estaremos encantadas de escucharte :)</p>
                </div>

            </div>


        </div>
        <!-- /.container -->

    </div>
</section>
