<section id="join-speakers" class="speakers">
  <div class="container">

        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¡Únete a nuestra lista de ponentes!</h2>
                    <hr class="small">
                   </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead"><strong>Buscamos mujeres que quieran compartir su conocimiento sobre tecnología. </strong></p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Dar una charla es una gran oportunidad de intercambiar ideas y experiencias con más personas del sector. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Ofrecemos la posibilidad de dar una charla larga de 40 minutos o una charla corta de 10 para quienes quieran presentar un tema más específico o breve.<br/>Además, si no has dado ninguna charla antes no dudes en contactarnos y te ayudaremos con la preparación del tema. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">¡Entra en nuestro C4P para proponer tu charla y ver las novedades del programa!. </p>
                </div>

            </div>


        </div>
        <!-- /.container -->

    </div>
</section>
