<section id="list-speakers" class="speakers bg-bluish">
  
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Nuestas ponentes</h2>
        <hr class="small">
        <!--
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="lead">¡Proximamente publicaremos las ponentes de las charlas y talleres seleccionados! </p>
            </div>

        </div>
        -->
        
        {% for speaker in site.speakers %}
          <!--
            <div class="col-md-3 col-sm-6">
            <div class="speaker-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa {{ speaker.image }} fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>{{ speaker.name }}</strong>
              </h4>
              <p>{{ speaker.text }}</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
-->
        <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="speaker-item">
                <a href="#" data-toggle="modal" data-target="#speaker-{{ forloop.index0 }}">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x"></i>

                      {% assign image_speaker = speaker.image | strip_newlines %}
                      {% assign twitter_speaker = speaker.twitter_account | strip_newlines %}
                      {% assign linkedin_speaker = speaker.linkedin_account | strip_newlines %}
                      {% assign web_speaker = speaker.web | strip_newlines %}
                      {% assign bio_speaker = speaker.bio | strip_newlines %}

                      {% if image_speaker != ""  %}
                      <img src="{{ image_speaker }}" class="fa fa-stack-1x text-primary img-circle"/>
                      {% elsif twitter_speaker != "" %}
                      <img src="https://avatars.io/twitter/{{ speaker.twitter_account }}" class="fa fa-stack-1x text-primary img-circle"/>
                      {% else %}
                      <i class="fa fa-user fa-stack-1x text-primary"></i>
                      {% endif %}
                    </span>
                    <!--<a href="#" data-toggle="modal" data-target="#speaker-{{ forloop.index0 }}">-->
                      <h4>
                        <!--<strong>{{ speaker.name }}</strong>-->
                        {{ speaker.name }}
                      </h4>
                    <!--</a>-->
                    <!--<a href="#" class="btn btn-light">Learn More</a>-->
                </a>

                <!-- Modal -->
                <div class="modal fade" id="speaker-{{ forloop.index0 }}" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-body">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <div class="wtm-modal-content-left">
                            <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>

                              {% assign image_speaker = speaker.image | strip_newlines %}
                              {% assign twitter_speaker = speaker.twitter_account | strip_newlines %}
                              {% assign linkedin_speaker = speaker.linkedin_account | strip_newlines %}
                              {% assign web_speaker = speaker.web | strip_newlines %}
                              {% assign bio_speaker = speaker.bio | strip_newlines %}

                              {% if image_speaker != ""  %}
                              <img src="{{ image_speaker }}" class="fa fa-stack-1x text-primary img-circle"/>
                              {% elsif twitter_speaker != "" %}
                              <img src="https://avatars.io/twitter/{{ speaker.twitter_account }}" class="fa fa-stack-1x text-primary img-circle"/>
                              {% else %}
                              <i class="fa fa-user fa-stack-1x text-primary"></i>
                              {% endif %}
                            </span>
                            <h4>{{ speaker.name }}</h4>
                              
                               {% if twitter_speaker != ""  %}
                                <a href="https://twitter.com/{{ speaker.twitter_account }}" target="_blank">
                                    <i class="fa fa-twitter fa-fw fa-2x"></i></a>
                                {% endif %}
                                {% if linkedin_speaker != ""  %}
                                <a href="https://www.linkedin.com/in/{{ speaker.linkedin_account }}" target="_blank">
                                    <i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                                {% endif %}
                                {% if web_speaker != ""  %}
                                <a href="{{ speaker.web }}" target="_blank">
                                    <i class="fa fa-link fa-fw fa-2x"></i></a>
                                {% endif %}
                          </div>
                          <div class="wtm-modal-content-right text-left">
                              {% if bio_speaker != ""  %}
                                <p>{{ speaker.bio }}</p>
                              {% else %}
                                <p>Más información próximamente</p>
                              {% endif %}
                              <div class="visible-xs-block text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                              </div>
                            
                          </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

        {% endfor %} 
        
        
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
<!-- /.container -->
</section>