<section id="list_distribution" class="tickets bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <p class="lead">¿Quieres que te mantengamos al tanto de todas nuestras novedades y todo lo que vamos a hacer en el futuro?</span><br/></p>
        <p class="lead">
          <span class="wtm-highlight">¡Apúntate a nuestra lista de distribución y entérate de todo!</span>
        </p>

      </div>

      <div class="col-lg-12 text-center">
        <a class="btn btn-dark btn-primary btn-lg" target="_blank" href="https://groups.google.com/forum/#!forum/mullerestech"><strong>Lista de distribución</strong></a>
      </div>
                
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
