<section id="mulleres_tech">
<!-- Page Content -->
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>

                    <h2 class="section-heading">Mulleres Tech</h2>
                    <hr class="small">
                    <div class="lead"><strong>Mulleres Tech es una comunidad sin ánimo de lucro creada para dar visibilidad a las mujeres que se dedican a la tecnología en Aragón de forma profesional o aficionada.</strong></div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/logo_mulleres_tech/positivo.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">Esta asociación surge impulsada por un colectivo de mujeres preocupadas por la escasa presencia femenina en el sector tecnológico, que mediante acciones como esta quiere fomentar la participación activa de las mujeres en la tecnología y servir como referente e inspiración a las más jóvenes. </p>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
</section>
