<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >WTM Zaragoza</a>
    </li>
    <!--
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Inicio</a>
    </li>
  -->
    <li>
      <a href="#introduction" onclick = $("#menu-close").click(); >¿Cuándo y dónde?</a>
    </li>
    <li>
      <a href="#tickets" onclick = $("#menu-close").click(); >Entradas</a>
    </li>
    <!--
    <li>
      <a href="#countdown" onclick = $("#menu-close").click(); >Cuenta atrás</a>
    </li>
  -->
    <li>
      <a href="#code_conduct" onclick = $("#menu-close").click(); >Código de conducta</a>
    </li>
    <li>
      <a href="#event_info" onclick = $("#menu-close").click(); >Women Techmakers</a>
    </li>
    
    <li>
      <a href="#agenda" onclick = $("#menu-close").click(); >Agenda</a>
    </li>
    
    <!--
    <li>
      <a href="#join-speakers" onclick = $("#menu-close").click(); >Únete a nuestras ponentes</a>
    </li>
    -->
    <li>
      <a href="#list-speakers" onclick = $("#menu-close").click(); >Nuestras ponentes</a>
    </li>
    
    
    <li>
      <a href="#mulleres_tech" onclick = $("#menu-close").click(); >Mulleres Tech</a>
    </li>
    <!--
    <li>
      <a href="#goals" onclick = $("#menu-close").click(); >Nuestros objetivos</a>
    </li>
    <li>
      <a href="#organizers" onclick = $("#menu-close").click(); >Nosotras</a>
    </li>
    -->
    <!--
    <li>
      <a href="#join-sponsors" onclick = $("#menu-close").click(); >Únete a nuestros patrocinadores</a>
    </li>
    <li>
      <a href="#list-sponsors" onclick = $("#menu-close").click(); >Nuestros patrocinadores</a>
    </li>
    -->
    <li>
      <a href="#join-sponsors" onclick = $("#menu-close").click(); >Patrocinadores</a>
    </li>
  </ul>
</nav>
