<section id="organizers" class="organizers">
  <div class="content-section-b">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
          <h2>Nosotras</h2>
          <hr class="small">
          {% for organizer in site.organizers %}
           
              <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="organizer-item">
                <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>

                {% assign image_organizer = organizer.image | strip_newlines %}
                {% assign twitter_organizer = organizer.twitter_account | strip_newlines %}
                {% assign linkedin_organizer = organizer.linkedin_account | strip_newlines %}

                {% if image_organizer != ""  %}
                <img src="{{ image_organizer }}" class="fa fa-stack-1x text-primary img-circle"/>
                {% elsif twitter_organizer != "" %}
                <!--<img src="https://twitter.com/{{ organizer.twitter_account }}/profile_image?size=original" class="fa fa-stack-1x text-primary img-circle"/>-->
                <img src="https://avatars.io/twitter/{{ organizer.twitter_account }}" class="fa fa-stack-1x text-primary img-circle"/>
                {% else %}
                <i class="fa fa-user fa-stack-1x text-primary"></i>
                {% endif %}
              </span>
                <h4>
                  <strong>{{ organizer.name }}</strong>
                </h4>
                <p>{{ organizer.text }}</p>
                <!--<a href="#" class="btn btn-light">Learn More</a>-->
                {% if twitter_organizer != ""  %}
                <a href="https://twitter.com/{{ organizer.twitter_account }}" target="_blank"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                {% endif %}
                {% if linkedin_organizer != ""  %}
                <a href="https://www.linkedin.com/in/{{ organizer.linkedin_account }}" target="_blank"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                {% endif %}
              </div>
            </div>
            
          {% endfor %}
          
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
  <!-- /.container -->
  </div>
</section>
