<section id="t-shirts" class="tickets bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <p class="lead">¿Te quedaste sin poder asistir y quieres hacerte con una de las camisetas de nuestro evento para ti o para regalar?</span><br/></p>
        <p class="lead">
          <span class="wtm-highlight">¡Estás de suerte, puedes hacerte con una de ellas!</span>
        </p>

      </div>

      <div class="col-lg-12 text-center">
        <a class="btn btn-dark btn-primary btn-lg" target="_blank" href="https://www.latostadora.com/mullerestech"><strong>¡Quiero una camiseta!</strong></a>
      </div>
                
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
