<section id="tickets" class="tickets bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <!--
        <h2>Ponencias sobre tecnología<br/><br/>
Talleres para niñas/os sobre tecnología<br/><br/>
Networking<br/><br/>
120 asistentes</h2>
-->
        <p class="lead">Ya a la venta las primeras entradas. <span class="wtm-highlight">¡No te quedes sin la tuya!</span><br/></p>
        <a target="_blank" href="https://www.ticketea.com/entradas-networking-wtm-zaragoza/" title="Compra aquí tus entradas">
          <img src="https://d18t9gwja9h9h.cloudfront.net/assets/images/buttons/es/buyhere.png" alt="Compra aquí tus entradas" />
         </a>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
