<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  {% include details.html %}
  {% include intro.html %}  
  {% include countdown.html %}
  {% include code_of_conduct.html %}
  {% include event_info.html %}
  <!-- Comparamos las fechas para despublicar el C4P en la fecha correcta -->
  {% capture now %}{{ site.time | date: '%d/%m/%Y %T' }}{% endcapture %}
  {% capture end_c4p %}{{ site.end_c4p | date: '%d/%m/%Y %T' }}{% endcapture %}
 
  <!-- Si aun no se ha cerrado el C4P mantenemos la info para enviar la propuesta -->

  <!-- Si ya se ha cerrado el C4P ponemos que proximamente publicaremos la info de las propuestas elegidas -->
  {% include list_speakers.html %}

  {% include mulleres_tech.html %}
  {% include goals.html %}
  {% include organizers.html %}
  {% include join_sponsors.html %}
  {% include footer.html %}
  {% include scripts.html %}
  
</body>

</html>
