<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  <!-- Menu de navegacion -->
  {% include navigation.html %}
  <!-- Cabecera -->
  {% include header.html %}
  <!-- Detalles -->
  {% include details.html %}
  <!-- Introduccion -->
  {% include intro.html %}  
  <!-- Entradas -->
  {% include tickets.html %}  
  <!-- Cuenta atras -->
  {% include countdown.html %}
  <!-- Codigo de conducta -->
  {% include code_of_conduct.html %}
  <!-- Informacion sobre WTMs -->
  {% include event_info.html %}
  <!-- Agenda -->
  {% include agenda.html %}
  <!-- Lista de ponentes -->
  {% include list_speakers.html %}
  <!-- Mulleres Tech -->
  {% include mulleres_tech.html %}
  <!-- Objetivos -->
  {% include goals.html %}
  <!-- Lista de porganizadoras -->
  {% include organizers.html %}
  <!-- Unete a nuestros patrocinadores -->
  {% include join_sponsors.html %}
  <!-- Lista de patrocinadores -->
  {% include list_sponsors.html %}
  <!-- Pie -->
  {% include footer.html %}
  <!-- Scripts -->
  {% include scripts.html %}
  
</body>

</html>
